{% extends template.self %}
{% block head %}
  {{ super() }}
  <link type="image/ico" rel="shortcut icon" href="//getgauge.io/assets/images/favicons/favicon.ico">
  <style>
    header.top {
      text-align: center;
      padding-top: 10px;
      padding-bottom: 5px;
      background-color: #f5c10e;      
    }
  </style>
{% endblock %}
{% block body %}
<header class="top">
  <div>
    Gauge Documentation has a <strong><a href="https://docs.getgauge.io">New Home</a></strong>.<br>
    This page exists just as an archive, and could be obsolete.
  </div>
</header>
{{ super() }}
<footer>
  <section class="powered-by">
    <a href="http://www.thoughtworks.com/products">
      <img alt="Thoughtworks logo" height="44" src="//getgauge.io/assets/images/thoughtworks_logo.svg">
    </a>
    <div class="disclamer">Gauge is an open source project, sponsored by ThoughtWorks Inc. under the GPL License, Version 3.0</div>
  </section>
</footer>
{% endblock %}
